.loaderOverlay {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.loaderWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #e0e0e0;
  border-top: 8px solid #0070f3;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
