.headerContainer {
  padding-top: 80px;
}

.headerBar {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.8rem 1.5rem;
  background: var(--card-bg);
  border-radius: 0 0 12px 12px;
  box-shadow: var(--card-shadow);
  justify-content: space-between;
}

.logo img {
  display: block;
}

.welcomeText {
  flex: 1;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: var(--text-primary);
}

.rightActions {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.themeToggle {
  transition:
    transform 0.2s,
    opacity 0.3s;
  gap: 5px;
  border: none;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 14px;
  font-size: 0.9rem;
  border-radius: 6px;
  align-items: center;
}

.themeToggle:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.logoutBtn {
  transition:
    transform 0.2s,
    opacity 0.3s;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 8px 14px;
  border-radius: 6px;
}

.logoutBtn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/* Mobile View */

@media (max-width: 600px) {
  .headerContainer {
    padding-top: 150px;
  }

  .headerBar {
    gap: 0.5rem;
    flex-direction: column;
  }

  .welcomeText {
    flex: unset;
    width: 100%;
    font-size: 21px;
    text-align: center;
  }

  .rightActions {
    flex-wrap: wrap;
    justify-content: center;
  }
}
