.modalOverlay {
  inset: 0;
  z-index: 999;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 320px;
  padding: 20px;
  position: relative;
  text-align: center;
  border-radius: 10px;
  background: var(--bg-color);
  box-shadow: var(--card-shadow);
}

.closeIcon {
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  background: transparent;
  color: var(--text-color);
}

.modalActions {
  gap: 10px;
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
}

.confirmBtn {
  border: none;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 6px;
  background: #e11d48;
  color: var(--text-color);
}

.cancelBtn {
  border: none;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 6px;
  color: var(--text-color);
  background: var(--link-bg);
}

.confirmBtn:hover {
  background: #be123c;
}

.cancelBtn:hover {
  background: var(--link-hover-bg);
}
